.hero-h1 {
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

.hero-p {
  color: #a0a0b4;
  font-size: 17px;
}
.btn-main {
  background: #d1002c !important;
  border: none !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.hero-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

.matrix-shape {
  position: relative;
  width: 100%;
  background-color: #1a1a1a;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 65% 100%, 0% 85%);
}

.slider-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container > h1 {
  color: #ffffff;
  font-size: 40px;
}
.hero-container > p {
  margin-top: 8px;
  color: white;
  font-size: 32px;
}

.hero-btn {
  display: flex;
  top: 500px;
  justify-content: center;
  align-items: center;
}

.btn-circle {
  border-radius: 50% !important;
  height: 60px !important;
  width: 60px !important;
  color: black !important;
  background: #d1002c !important;
  border: none !important;
}

.line {
  font-size: 20px;
}

@media screen and (max-width: 426px) {
  .hero-btn {
    justify-content: flex-start !important;
    margin-top: 20px;
  }
}
.count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.count-left {
  display: block;
}

.vertical-line {
  border-right: 6px solid red;
  height: 40px;
  margin-left: 10px;
}
.count-wrapper {
  display: flex;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 766px) {
  .text-container {
    display: block;
  }

  .line {
    display: none;
  }

  h1 {
    font-size: 18px;
  }

  .text-right.d-sm-none {
    font-size: 12px;
  }

  .col-sm-7 {
    order: -1;
  }

  .count {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .vertical-line {
    display: none;
  }
}

@media (max-width: 2560px) {
  .hero-container {
    height: 70vh;
  }
}

@media (max-width: 576px) {
  .number-titlealign {
    display: flex;
    align-items: flex-start;
  }
}
