.work-body {
  position: relative;
  width: 100%;
  background-color: #f3f3f3;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 65% 100%, 0% 85%);
  padding-bottom: 7%;
}

.first-line {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #a0a0b4;
  margin-left: 15%;
}

.second-line {
  font-size: 12px;
  line-height: 1;
  color: #a0a0b4;
  margin-left: 15%;
}

.button-transparent {
  background: transparent !important;
  color: #000000 !important;
  font-size: 13px;
  border: 1px solid #a0a0b4;
  width: 35%;
  padding: 0;
}

.button-transparent:hover {
  color: #000000 !important;
}

.custom-co2l {
  display: flex;
  align-items: center;
}

.img-responsive {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.custom-text-align {
  text-align: right;

  @media (max-width: 768px) {
    text-align: left;
  }
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}
@media (max-width: 1400px) {
  .work-name1 {
    margin-left: 10% !important;
  }
}

@media (max-width: 1200px) {
  .work-name1 {
    margin-left: 30% !important;
  }
}

@media (max-width: 993px) {
  .col-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .work-name1 {
    text-align: left;
    padding: 15px;
  }
}

@media (min-width: 993px) {
  .main-align {
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: left !important;
  }
}

@media (min-width: 425px) {
  .work-name {
    order: 2 !important;
  }
}

@media (min-width: 1025px) {
  .work-last {
    padding-bottom: 5%;
  }
}

@media (min-width: 769px) {
  .work-last {
    margin-bottom: 51%;
  }
}
